
body {
    background-color: #A3A380;
}
header{
    background-color: #D8A48F;
}

.card {
    border: none;
    background-color: #EFEBCE;
    
}

#proyectos img {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 250px;
    padding: 10px;
    max-width: 100%;
    object-fit: cover;
}

.btn {
    background-color: #D8A48F;

}

